/* ÄLÄ KOSKE */
body {
  margin-left: 20%;
}
/* KOSKE */
body * {
  width: 100%;
  font-family: "Arial", sans, sans-serif;
}

a {
  color: #000;
  text-decoration:none;
  display:inline;
}
a:hover {
  color:#fff;
  background-color:#000;
}

.container * {
  border-radius: 5px;
  border: none;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
}

.container input {
  border: 1px solid black;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.1);
  height: 2em;
}

.container input:focus {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.3);
}


.container .submit {
  width: unset;
}
