{% extends 'runko.html' %}

{% block asiat %}
<h1>Raspberry pi:n ohjauspaneeli</h1>
<h2>Valitse käyttäjä</h2>
<form action="{{ url_for('change_user') }}" method="post">
    <button type="submit" name="user_button" value="kayttaja1">Kayttaja1</button>
    <br>
	<button type="submit" name="user_button" value="kayttaja2">kayttaja2</button>
	<br>
	<button type="submit" name="user_button" value="kayttaja3">kayttaja3</button>
	<br>
	<button type="submit" name="user_button" value="kayttaja4">kayttaja4</button>
	<br>
</form>
{% endblock asiat %}