<html>
 <head>
 	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='only_css_file.css') }}">
  <link rel="shortcut icon"
 href="{{ url_for('static', filename='favicon.ico') }}">
 	<title>MYK kastelujärjestelmä</title>
 </head>
 <body>
 	{% block asiat %}
 	{% endblock asiat %}
 	{% if current_user.is_authenticated %}
 	<p>kirjautunut: {{ current_user.name }} </p>
 	<h2>Linkit</h2>
	<ul>
	<li><a href="{{ url_for('index', user=current_user.name) }}">Pääsivu</a></li>
	<li><a href="{{ url_for('change_user') }}">Vaihda käyttäjää</a></li>
	<li><a href="{{ url_for('settings') }}">Asetukset</a></li>
	<a></a>
	</ul>
	{% endif %}
 </body>
</html>
