{% extends 'runko.html' %}

{% block asiat %}
<body style="margin-right: 20%;">

<h1>Asetukset</h1>

<p>Tällä sivulla voit muokata erilaisia kasteluun liittyviä arvoja</p>

<h2>Väliaika-arvot</h2>
<div class="container">
  <form action="" method="post">
    <!--
    <p>Aika lannoituksien välillä </p><input type="text" value="nykyinen arvo">
    <br>
    <p>Aika automaattisten kasteluiden välillä </p><input type="text" value="nykyinen arvo" >
    <br>
    -->
    <p>Aika kuvien ottamisen välillä </p><input type="text" name="snap_i" value="{{ user.snap_i }}" >
    <br>
    <p>Aika lämpötilan ja kosetuden mittausten välillä </p><input type="text" name="humidity_temp_i" value="{{ user.humidity_temp_i }}" >
    <br>
    <h2>Lannoitus & kastelu</h2>
    <p>Kastelun määrä yhdellä kerralla </p><input type="text" name="water_amount" value="{{ user.water_amount }}" >
    <br>
    <p>Automaattinen kastelu </p><input type="text" name="autowater" value="{{ user.autowater }}" >
    <br>
    <br>
    {% if error %}
        <p>Virhe:</p> {{ error }}
    {% endif %}
    <input class="submit" type="submit" value="päivitä arvot"/>
    </form>
  </div>

{% endblock asiat %}
