<div class="container">
  <form action="" method="post">
    <p>Aika kuvien ottamisen välillä </p><input type="text" name="snap_i" value="{{ user.snap_i }}" >
    <br>
    <p>Aika lämpötilan ja kosetuden mittausten välillä </p><input type="text" name="humidity_temp_i" value="{{ user.humidity_temp_i }}" >
    <br>
    <h2>Lannoitus &amp; kastelu</h2>
    <p>Kastelun määrä yhdellä kerralla </p><input type="text" name="water_amount" value="{{ user.water_amount }}" >
    <br>
    <fieldset>
        <legend>Automaattinen kastelu (päällä / pois) </legend>
        <ul>
          <li>
            <label for="auto_0">
              <span>päällä</span>
            </label>
            <input name="auto" id="auto_0" value="1" type="radio">
          </li>
          <li>
            <label for="auto_1">
              <span>pois</span>
            </label>
            <input name="auto" id="auto_1" value="0" type="radio" checked>
          </li>
        </ul>
      </fieldset>
    <br>
    <br>
    {% if error %}
        <p>Virhe:</p> {{ error }}
    {% endif %}
    <input class="submit" type="submit" value="Päivitä arvot"/>
    </form>
  </div>